* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    height: 100vh;
    background-color: black;
}

.container .imgContainer {
    height: 100%;
    width: 100%;
    padding: 100px;
    position: relative;
}

.container .imgContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 100%;
}

#btn-up {
    position: absolute;
    top: 60px;
    left: 50%;
}

#btn-down {
    position: absolute;
    bottom: 60px;
    left: 50%;
}

.btn {
    background-color: rgba(255, 255, 255, 0.527);
    font-size: 18px;
    padding: 5px;
    border: 0;
    border-radius: 25%;
    cursor: pointer;
}

.immagine {
    background-color: black;
    width: 100%;
    height: 100%;
}

#thumbnailsContainer {
    height: 120px;
    width: 300px;
    position: absolute;
    top: 100px;
    right: 100px;
}

#thumbnailsContainer .thumbnails {
    height: 100%;
    width: 100%;
    position: relative;
    border: 1px solid white;
    display: block;
    opacity: 0.5;
    position: relative;
    filter: brightness(0.5);
}

#thumbnailsContainer .thumbnails.active {
    opacity: 1;
    filter: brightness(1);
}

#thumbnailsContainer .thumbnails img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}