* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

main {
    background-color: black;
    height: 100vh;
}

.container {
    padding-top: 100px;
}

.container .imgContainer {
    height: 600px;
    width: 1200px;
    position: relative;
    margin: auto;
}

.container .imgContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#btn-up {
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(50%, 0%);
}

#btn-down {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(50%, 0%);
}

.btn {
    background-color: rgba(255, 255, 255, 0.527);
    font-size: 18px;
    padding: 5px;
    border: 0;
    border-radius: 25%;
    cursor: pointer;
    z-index: 3;
}

#thumbnailsContainer {
    position: absolute;
    max-width: 20%;
    height: 100%;
    top: 0;
    right: 0;
}

#thumbnailsContainer .thumbnails {
    border: 1px solid white;
    display: block;
    opacity: 0.5;
    position: relative;
    filter: brightness(0.5);
    max-height: calc(100% / 5);
}

#thumbnailsContainer .thumbnails.active {
    opacity: 1;
    filter: brightness(1);
}
